* {
    font-size: 20px;
    font-family: monospace;
}
#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#keyboard-state,
#network,
window#waybar {
    background: #fdf6e3;
    color: black;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
    color: black;
}

#custom-right-arrow-light,
#custom-left-arrow-light {
    color: black;
    background: #1a1a1a;
}


#tray {
    background: #1a1a1a;
    padding: 0 3px
}

#workspaces button {
    padding: 0 5px;
    color: black;
}

#workspaces button.focused {
    color: #268bd2;
    background: #fdf6e3;
}

#pulseaudio {
    color: black;
    padding: 0 10px;
    background: #fdf6e3;
}

#memory {
    color: black;
    padding: 0 10px;
}

#cpu {
    color: black;
    padding: 0 10px;
}

#keyboard-state {
    color: black;
    padding: 0 10px;
}

#network {
    color: black;
    padding: 0 10px;
}
